
//colors
$color_dodger_blue_10_approx: rgba(15,170,255,0.1);
$color_gray_nurse_approx: #eaeaea;
$white: #fff;
$black_20: rgba(0,0,0,0.2);
$color_mine_shaft_approx: #333;
$gray: gray;
$color_yellow_sea_approx: #ffaf00;
$color_celeste_approx: #ccc;
$black_30: rgba(0,0,0,0.3);
$color_shady_lady_approx: #a6a6a6;
$color_tuatara_approx: #363636;
$black: #000;
$black_27: rgba(0,0,0,0.27);
$alabaster: #fafafa;
$black_75: rgba(0,0,0,0.75);
$color_dodger_blue_approx: #0faaff;
$color_dodger_blue_60_approx: rgba(15,170,255,0.6);
$color_carnation_approx: #ee5152;
$red: red;
$color_gray_nurse_60_approx: rgba(234,234,234,0.6);
$black_50: rgba(0,0,0,0.5);
$color_mercury_approx: #e6e6e6;
$color_alto_approx: #dadada;
$color_link_water_approx: #d7e4ed;
$black_10: rgba(0,0,0,0.1);
$black_55: rgba(0,0,0,0.55);
$color_manatee_25_approx: rgba(141,148,169,0.25);

//fonts
$font_0: FontAwesome;

//urls
$url_0: url(owl.video.play.png);
$url_1: url(grabbing.png);
$url_2: url(http://terp10.spbstu.ru/img/angle.png);
$url_3: url(http://terp10.spbstu.ru/img/flat/flat.png);
$url_4: url(http://terp10.spbstu.ru/img/flat/flat@2x.png);
$url_5: url(http://terp10.spbstu.ru/img/flat/red.png);
$url_6: url(http://terp10.spbstu.ru/img/flat/red@2x.png);
$url_7: url(http://terp10.spbstu.ru/img/flat/green.png);
$url_8: url(http://terp10.spbstu.ru/img/flat/green@2x.png);
$url_9: url(http://terp10.spbstu.ru/img/flat/blue.png);
$url_10: url(http://terp10.spbstu.ru/img/flat/blue@2x.png);
$url_11: url(http://terp10.spbstu.ru/img/flat/aero.png);
$url_12: url(http://terp10.spbstu.ru/img/flat/aero@2x.png);
$url_13: url(http://terp10.spbstu.ru/img/flat/grey.png);
$url_14: url(http://terp10.spbstu.ru/img/flat/grey@2x.png);
$url_15: url(http://terp10.spbstu.ru/img/flat/orange.png);
$url_16: url(http://terp10.spbstu.ru/img/flat/orange@2x.png);
$url_17: url(http://terp10.spbstu.ru/img/flat/yellow.png);
$url_18: url(http://terp10.spbstu.ru/img/flat/yellow@2x.png);
$url_19: url(http://terp10.spbstu.ru/img/flat/pink.png);
$url_20: url(http://terp10.spbstu.ru/img/flat/pink@2x.png);
$url_21: url(http://terp10.spbstu.ru/img/flat/purple.png);
$url_22: url(http://terp10.spbstu.ru/img/flat/purple@2x.png);
$url_23: url(http://terp10.spbstu.ru/img/slide1.jpg);
$url_24: url(http://terp10.spbstu.ru/img/sap_bg.svg);
$url_25: url(http://terp10.spbstu.ru/img/rect_bg.svg);
$url_26: url(http://terp10.spbstu.ru/img/price_bg.svg);
$url_27: url(http://terp10.spbstu.ru/img/srgb.jpg);
