doctype html
html(lang="ru")
  head
    include templates/head.jade
  body
    main.main-page
      include templates/slider.jade
      include templates/section_about.jade
      include templates/section_testimonials.jade
      include templates/section_program.jade
      include templates/section_foreignstudents.jade
      include templates/section_registration.jade
      include templates/section_questions.jade
      include templates/contacts.jade
    
    include templates/footer.jade
    include templates/scripts.jade
