script.
  var lang     = 'ru';
  var AJAX     = 'http://terp10.spbstu.ru/ajax/';
  var MAIN     = 'http://terp10.spbstu.ru/';
  var AJAX_URL = 'http://terp10.spbstu.ru/core/ajax/';
  var CORE     = 'http://terp10.spbstu.ru/core/';
  var IMG      = 'http://terp10.spbstu.ru/img/';
script(src='http://terp10.spbstu.ru/js/modernizr.js')
script(src='http://terp10.spbstu.ru/js/jquery-3.1.1.min.js')
script(src='http://terp10.spbstu.ru/js/jquery-migrate-3.0.0.min.js')
script(src='http://terp10.spbstu.ru/js/bootstrap.min.js')
script(src='http://terp10.spbstu.ru/js/bootstrap-notify.min.js')
script(src='http://terp10.spbstu.ru/js/owl-carousel.js')
script(src='http://terp10.spbstu.ru/js/equalize.min.js')
script(src='http://terp10.spbstu.ru/js/icheck.min.js')
script(src='http://terp10.spbstu.ru/js/main.js')
script(src='http://terp10.spbstu.ru/js/reg.js')
script(src='http://terp10.spbstu.ru/js/map.js')
script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCBcS_wxjhY6HsbL28cpmccVjmX3yw0O0c&callback=initMap&language=ru')
